body > header {
  position: fixed;
  left: 0;
  z-index: 999;
  right: 0;
  top: 0;
  @include rem(padding, 0 20px);
  background-color: $blue;

  li {
    display: inline-block;

    a {
      @include rem(padding, 15px);
      display: block;
      text-decoration: none;
      color: $white;

      &:hover {
        background-color: $blue-lighter;
      }
    }
  }
}

body {
  @include rem(padding-top, 60px);
}