@include keyframes(zoom) {
    from {
      @include transform(scale(.8));
      @include opacity(0);
    }
    to {
      @include transform(scale(1));
      @include opacity(1);
    }
}

section[data-route="movie"].active {
  position: fixed;
  @include transition(all .2s ease);
  @include animation(zoom .3s ease-out);
  right: 0;
  bottom:0;
  left: 0;
  top: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  @include rem(padding, 20px);
  z-index: 1000;
  background-color: $white;

  + section[data-route="movies"] {
    display: block !important;
    @include opacity(.5);
  }

  em {
    font-style: italic;
    display: block;
  }

  img {
    width: 100%;
    @include rem(margin, 15px 0 0);
    height: auto;
  }

  div.rating, div.rating span {
    display: block;
    background: url('../img/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
  }

  div.rating span {
    background-position: 0 0;
  }

  p[data-bind="plot"] {
    @include rem(margin-top, 15px);
  }

  @include breakpoint($tablet) {
    @include rem(top, 20px);
    @include rem(bottom, 20px);
    left: 20%;
    right: 20%;
    @include box-shadow(0 0 10px $black);

    img {
      @include rem(max-width, 300px);
      float: left;
      @include rem(margin, 15px 40px 20px 0);
    }
  }
}

#close {
  position: absolute;
  @include rem(top, 15px);
  @include rem(right, 15px);
  @include rem(width, 25px);
  @include rem(height, 25px);
  @include border-radius(50%);
  background-color: $black;
  color: $white;

  &:hover {
    background-color: $black-lighter;
  }
  &:active {
    background-color: $blue;
  }
  &:before {
    content: 'X';
    text-align: center;
    display: block;
    @include rem(line-height, 25px);
    @include rem(font-size, 13px);
    @include font-smoothing();
  }
}