#search {
  input {
    @include border-radius(none);
    border: 1px solid $white-darker;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @include rem(padding, 10px);
    @include rem(font-size, 15px);

    &:focus {
      outline: none;
    }
  }
  input[type="search"] {
    width: 70%;
    border-right: none;
  }

  input[type="submit"] {
    width: 30%;
    border-left: none;
    cursor: pointer;
    background-color: $blue;
    color: $white;

    &:hover {
      background-color: $blue-lighter;
    }

    &:active {
      background-color: $black;
    }
  }
}