.sortbutton {
  @include rem(margin-top, 10px);
  display: inline-block;
  // float: left;
  background-color: $white;
  border: 1px solid $white-darker;
  @include rem(padding, 10px);
  @include rem(font-size, 15px);
  text-decoration: none;
  color: $black;
  width: 50%;

  + .sortbutton {
    border-left: 0;
  }

  &.active-filter {
    background-color: $black;
    color: $white;
  }
}