body {
  font-family: sans-serif;
  color: $black;
  line-height: 1.5em;
}

h1 {
  @include rem(font-size, 18px);
  font-weight: bold;
  padding: .5em 0 1em;
  margin: .5em 0 1em;
  border-bottom: 1px solid $white-darker;
}

p + p {
  margin-top: 2em;
}