@include keyframes(spin) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}

.loader {
  position: absolute;
  @include rem(top, 10px);
  @include rem(right, 10px);
  @include rem(height, 30px);
  @include rem(width, 30px);
  @include animation(spin .5s linear infinite);
  @include border-radius(50%);
  @include rem(border, 2px solid rgba($white, .5));
  border-right-color: transparent;
  border-top-color: transparent;
  @include opacity(1);
  @include transition(all .3s);

  &.hidden {
    @include opacity(0);
  }
} 