@function px-to-rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

$baseline_px: 16px;
@mixin rem($property, $px_values) {
  $baseline_rem: ($baseline_px / 1rem);
  #{$property}: $px_values;

  @if $px_values == 0 {
    @warn 'There is no need for using rem() if the value is zero.';
    $rem_values: $px_values;
  }

  // if e.g.: margin-bottom: 20px;
  // that's a number, so we only have to perform 1 action
  @else if type-of($px_values) == 'number' {
    #{$property}: $px_values / $baseline_rem;
  }

  // if e.g.: margin: 0 20px auto;
  // we have a list, so we'll have to perform 3 actions in this case
  @else if type-of($px_values) == 'list' {
    $rem_values: ();

    // we can now safely loop through the list/array and process each value separately
    @each $value in $px_values {
      // you can't divide zero, so we just add that to the new string immediately
      @if $value == 0 { 
        $rem_values: append($rem_values, $value); 
      }

      // we can't transform a string into a rem value either, so we add that too
      @else if type-of($value) == 'string' or type-of($value) == 'color' {
        $rem_values: append($rem_values, $value);
      }

      // finally, we check if the value is a number, so we don't get any weird errors or bugs :)
      @else if type-of($value) == 'number' {
        $rem_values: append($rem_values, ($value / $baseline_rem) );
      }

      @else {
        @debug 'This type of value (' + type-of($value) + ') isn\'t supported with this function yet. Sorry!';
      }
    }

    #{$property}: $rem_values;
  }
}