html, body {
  height: 100%;
}

body {
  @include rem(padding, 20px);
  background-color: $white;

  &.noscroll {
    overflow: hidden;
  }
}

#content > section {
  display: none;

  &.active {
    display: block;
  }
}

section[data-route="movies"] {
  z-index: 0;
  
  article {
    position: relative;
    @include rem(margin, 20px 0);

    a {
      display: block;
    }

    img {
      background-color: black;
      display: block;
      width: 100%;
      height: auto;
    }

    .overflow {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      @include rem(padding, 30px);
      background-color: rgba(#000, .7);
      color: white;
    }

    p[data-bind="simple_plot"] {
      @include text-shadow(1px 1px 1px #000);
    }

    &:hover {
      .overflow {
        display: block;
      }
    }
  }

  @include breakpoint($tablet) {
    #data-movie {
      display: flex;
      flex-wrap: wrap;
    }
    article {
      flex-grow: 1;
      @include rem(font-size, 12px);
      @include rem(margin, 20px);
      @include rem(max-width, 400px);
    }
  }
}

section[data-route="about"] {
  
}