/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../../sass/base/_base.scss */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../../sass/base/_base.scss */
img {
  height: auto;
  max-width: 100%;
}

/* line 1, ../../sass/base/_typography.scss */
body {
  font-family: sans-serif;
  color: #2c3e50;
  line-height: 1.5em;
}

/* line 7, ../../sass/base/_typography.scss */
h1 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  padding: .5em 0 1em;
  margin: .5em 0 1em;
  border-bottom: 1px solid #bdc3c7;
}

/* line 15, ../../sass/base/_typography.scss */
p + p {
  margin-top: 2em;
}

/* line 1, ../../sass/layout/_page.scss */
html, body {
  height: 100%;
}

/* line 5, ../../sass/layout/_page.scss */
body {
  padding: 20px;
  padding: 1.25rem;
  background-color: #ecf0f1;
}
/* line 9, ../../sass/layout/_page.scss */
body.noscroll {
  overflow: hidden;
}

/* line 14, ../../sass/layout/_page.scss */
#content > section {
  display: none;
}
/* line 17, ../../sass/layout/_page.scss */
#content > section.active {
  display: block;
}

/* line 22, ../../sass/layout/_page.scss */
section[data-route="movies"] {
  z-index: 0;
}
/* line 25, ../../sass/layout/_page.scss */
section[data-route="movies"] article {
  position: relative;
  margin: 20px 0;
  margin: 1.25rem 0;
}
/* line 29, ../../sass/layout/_page.scss */
section[data-route="movies"] article a {
  display: block;
}
/* line 33, ../../sass/layout/_page.scss */
section[data-route="movies"] article img {
  background-color: black;
  display: block;
  width: 100%;
  height: auto;
}
/* line 40, ../../sass/layout/_page.scss */
section[data-route="movies"] article .overflow {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px;
  padding: 1.875rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
/* line 52, ../../sass/layout/_page.scss */
section[data-route="movies"] article p[data-bind="simple_plot"] {
  text-shadow: 1px 1px 1px black;
}
/* line 57, ../../sass/layout/_page.scss */
section[data-route="movies"] article:hover .overflow {
  display: block;
}
@media (min-width: 34.375rem) {
  /* line 64, ../../sass/layout/_page.scss */
  section[data-route="movies"] #data-movie {
    display: flex;
    flex-wrap: wrap;
  }
  /* line 68, ../../sass/layout/_page.scss */
  section[data-route="movies"] article {
    flex-grow: 1;
    font-size: 12px;
    font-size: 0.75rem;
    margin: 20px;
    margin: 1.25rem;
    max-width: 400px;
    max-width: 25rem;
  }
}

@-moz-keyframes spin {
  /* line 2, ../../sass/components/_preloader.scss */
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 5, ../../sass/components/_preloader.scss */
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  /* line 2, ../../sass/components/_preloader.scss */
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 5, ../../sass/components/_preloader.scss */
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  /* line 2, ../../sass/components/_preloader.scss */
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 5, ../../sass/components/_preloader.scss */
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 10, ../../sass/components/_preloader.scss */
.loader {
  position: absolute;
  top: 10px;
  top: 0.625rem;
  right: 10px;
  right: 0.625rem;
  height: 30px;
  height: 1.875rem;
  width: 30px;
  width: 1.875rem;
  -moz-animation: spin 0.5s linear infinite;
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid rgba(236, 240, 241, 0.5);
  border: 0.125rem solid rgba(236, 240, 241, 0.5);
  border-right-color: transparent;
  border-top-color: transparent;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 24, ../../sass/components/_preloader.scss */
.loader.hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 1, ../../sass/modules/_header.scss */
body > header {
  position: fixed;
  left: 0;
  z-index: 999;
  right: 0;
  top: 0;
  padding: 0 20px;
  padding: 0 1.25rem;
  background-color: #2980b9;
}
/* line 10, ../../sass/modules/_header.scss */
body > header li {
  display: inline-block;
}
/* line 13, ../../sass/modules/_header.scss */
body > header li a {
  padding: 15px;
  padding: 0.9375rem;
  display: block;
  text-decoration: none;
  color: #ecf0f1;
}
/* line 19, ../../sass/modules/_header.scss */
body > header li a:hover {
  background-color: #3498db;
}

/* line 26, ../../sass/modules/_header.scss */
body {
  padding-top: 60px;
  padding-top: 3.75rem;
}

@-moz-keyframes zoom {
  /* line 2, ../../sass/modules/_movie.scss */
  from {
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }

  /* line 6, ../../sass/modules/_movie.scss */
  to {
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes zoom {
  /* line 2, ../../sass/modules/_movie.scss */
  from {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }

  /* line 6, ../../sass/modules/_movie.scss */
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes zoom {
  /* line 2, ../../sass/modules/_movie.scss */
  from {
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }

  /* line 6, ../../sass/modules/_movie.scss */
  to {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
/* line 12, ../../sass/modules/_movie.scss */
section[data-route="movie"].active {
  position: fixed;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -moz-animation: zoom 0.3s ease-out;
  -webkit-animation: zoom 0.3s ease-out;
  animation: zoom 0.3s ease-out;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
  padding: 1.25rem;
  z-index: 1000;
  background-color: #ecf0f1;
}
/* line 26, ../../sass/modules/_movie.scss */
section[data-route="movie"].active + section[data-route="movies"] {
  display: block !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 31, ../../sass/modules/_movie.scss */
section[data-route="movie"].active em {
  font-style: italic;
  display: block;
}
/* line 36, ../../sass/modules/_movie.scss */
section[data-route="movie"].active img {
  width: 100%;
  margin: 15px 0 0;
  margin: 0.9375rem 0 0;
  height: auto;
}
/* line 42, ../../sass/modules/_movie.scss */
section[data-route="movie"].active div.rating, section[data-route="movie"].active div.rating span {
  display: block;
  background: url("../img/stars.png") 0 -16px repeat-x;
  width: 80px;
  height: 16px;
}
/* line 49, ../../sass/modules/_movie.scss */
section[data-route="movie"].active div.rating span {
  background-position: 0 0;
}
/* line 53, ../../sass/modules/_movie.scss */
section[data-route="movie"].active p[data-bind="plot"] {
  margin-top: 15px;
  margin-top: 0.9375rem;
}
@media (min-width: 34.375rem) {
  /* line 12, ../../sass/modules/_movie.scss */
  section[data-route="movie"].active {
    top: 20px;
    top: 1.25rem;
    bottom: 20px;
    bottom: 1.25rem;
    left: 20%;
    right: 20%;
    -moz-box-shadow: 0 0 10px #2c3e50;
    -webkit-box-shadow: 0 0 10px #2c3e50;
    box-shadow: 0 0 10px #2c3e50;
  }
  /* line 64, ../../sass/modules/_movie.scss */
  section[data-route="movie"].active img {
    max-width: 300px;
    max-width: 18.75rem;
    float: left;
    margin: 15px 40px 20px 0;
    margin: 0.9375rem 2.5rem 1.25rem 0;
  }
}

/* line 72, ../../sass/modules/_movie.scss */
#close {
  position: absolute;
  top: 15px;
  top: 0.9375rem;
  right: 15px;
  right: 0.9375rem;
  width: 25px;
  width: 1.5625rem;
  height: 25px;
  height: 1.5625rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #2c3e50;
  color: #ecf0f1;
}
/* line 82, ../../sass/modules/_movie.scss */
#close:hover {
  background-color: #34495e;
}
/* line 85, ../../sass/modules/_movie.scss */
#close:active {
  background-color: #2980b9;
}
/* line 88, ../../sass/modules/_movie.scss */
#close:before {
  content: 'X';
  text-align: center;
  display: block;
  line-height: 25px;
  line-height: 1.5625rem;
  font-size: 13px;
  font-size: 0.8125rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* line 1, ../../sass/modules/_navigation.scss */
:target {
  background-color: #ecf0f1;
  outline: none;
  color: #2c3e50;
}
/* line 6, ../../sass/modules/_navigation.scss */
:target:hover {
  color: #2c3e50;
  background-color: #ecf0f1;
}

/* line 2, ../../sass/modules/_search.scss */
#search input {
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
  border: 1px solid #bdc3c7;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 10px;
  padding: 0.625rem;
  font-size: 15px;
  font-size: 0.9375rem;
}
/* line 10, ../../sass/modules/_search.scss */
#search input:focus {
  outline: none;
}
/* line 14, ../../sass/modules/_search.scss */
#search input[type="search"] {
  width: 70%;
  border-right: none;
}
/* line 19, ../../sass/modules/_search.scss */
#search input[type="submit"] {
  width: 30%;
  border-left: none;
  cursor: pointer;
  background-color: #2980b9;
  color: #ecf0f1;
}
/* line 26, ../../sass/modules/_search.scss */
#search input[type="submit"]:hover {
  background-color: #3498db;
}
/* line 30, ../../sass/modules/_search.scss */
#search input[type="submit"]:active {
  background-color: #2c3e50;
}

/* line 1, ../../sass/modules/_sortbuttons.scss */
.sortbutton {
  margin-top: 10px;
  margin-top: 0.625rem;
  display: inline-block;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  padding: 10px;
  padding: 0.625rem;
  font-size: 15px;
  font-size: 0.9375rem;
  text-decoration: none;
  color: #2c3e50;
  width: 50%;
}
/* line 13, ../../sass/modules/_sortbuttons.scss */
.sortbutton + .sortbutton {
  border-left: 0;
}
/* line 17, ../../sass/modules/_sortbuttons.scss */
.sortbutton.active-filter {
  background-color: #2c3e50;
  color: #ecf0f1;
}

/* No files to import found in views/* */
